body {
    margin: 0;
    padding: 0;
    background: url("https://www.iciciprulife.com/content/icici-prudential-life-insurance/testing/tools-and-calculators/bmi_assets/images/calcBG.svg") repeat-y;
    background-size: cover;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}
.calculate {
    position: relative;
    top: 44px;
    border: 1px solid #ae2b30;
    display: flex;
    flex-flow: wrap;
    width: 83%;
    height: 300px;
    margin: 3px auto;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
}

.parent{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    height: 440px;
    margin: 0px 30px 0px 30px;
    width: 95%;
}

input[type="radio"] {
    display: none;

}

input[type="radio"]:checked+label {
    border-color: #ae2b30;
    font-weight: 500;
}

#lab_gen {
    color: rgb(82, 80, 80);
    font-weight: 300px;
    position: relative;
    left: 26px;
    top: 15px;
}

.resize {
    font-family: "Fredoka", sans-serif;
    padding: 6px;
    margin: 0px 7px;
    border: 1px solid grey;
    text-align: center;
    width: 102px;
    display: inline-block;
    position: relative;
    top: 14px;
    left: 19px;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(56, 55, 55);
}

#re_fe {
    position: relative;
    left: 13px;
}

.form_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(82, 80, 80);
}

input[type="number"] {
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    width: 100px;
    /* font-weight: 550; */
}

input[type="number"]:focus {
    border-bottom: 1px solid #ae2b30;
    outline: none;
}

input[type="number"]::placeholder {
    font-weight: lighter;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/remove the spinners (increasing decreasing buttons in right)/

#heig_adj {
    position: relative;
    left: 28px;
    top: 51px;
}

.inp_heigh {
    position: relative;
    left: 28px;
    top: 51px;
}

.cms {
    position: relative;
    margin-top: 18%;
    margin-left: 11%;
}

.cms a {
    color: rgb(82, 80, 80);
    font-size: 13px;
}

.cms a:hover {
    color: #ae2b30;
}

.cms a:visited {
    color: rgb(82, 80, 80);
}

.cms a:active {
    color: black;
}

.age input[type="number"] {
    border: 1px solid grey;
    padding: 7px;
    border-radius: 3px;
    width: 75%;
}

.age input[type="number"]::placeholder {
    text-align: right;
    pointer-events: none;
}

.age {
    position: absolute;
    left: 31vw;
    top: 13px;
}

.weight {
    position: absolute;
    left: 31vw;
    top: 113px;

}

.weight input[type="tel"] {
    border: 1px solid grey;
    padding: 7px;
    border-radius: 3px;
    width: 82%;
}

.weight input[type="tel"]::placeholder {
    text-align: right;
    pointer-events: none;
}

.weight input[type="tel"]:focus {
    outline: none;
}

#calc_but{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background: linear-gradient(140deg, #cd4247,
    #b75255);
    position: relative;
    top: 27px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 6px;
    /* left: 12rem; */
    left: 251px;
    width: 61%;
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.6s ease;
}
