body {
    margin: 0;
    padding: 0;
    background: url("https://www.iciciprulife.com/content/icici-prudential-life-insurance/testing/tools-and-calculators/bmi_assets/images/calcBG.svg") repeat-y;
    background-size: cover;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    box-sizing: border-box;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

.welcome_main {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    border: 1px solid #ae2b30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57vw;
    margin: 1px auto;
    border-radius: 5px;
    background-color: white;
    padding: 1rem 3rem 2.3rem;
    position: relative;
}

.welcome {
    color: #ae2b30;
    font-weight: 500;
}

.welcometo {
    font-size: 2rem;
}

.fitgen {
    font-size: 3rem;
}

.name {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6 rem;
}

.content {
    display: block;
    text-align: center;
    line-height: 2.2;
}

.calcbmi {
    /* border: 2px solid; */
    margin-top: 13px;
}


.calc_but {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background: linear-gradient(140deg, #cd4247,
            #b75255);
    position: relative;
    padding: 1px;
    border: 1px solid black;
    border-radius: 6px;
    width: 117%;
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.calc_but:hover {
    background: linear-gradient(140deg, #ba363a,
            #e84f54);
    transform: scale(1.02);
}

.calc_but:focus {
    box-shadow: 0px 0px 4px 1px rgba(237, 231, 225, 0.9);
}

.whyuse {
    display: flex;
    flex-direction: column;
    border: 1px solid #ae2b30;
    justify-content: center;
    align-items: center;
    width: 81%;
    margin: 1px auto;
    margin-top: 35px;
    background-color: white;
    border-radius: 6px;
    padding-top: 12px;
}

.head1whyuse {
    margin: 0;
    padding: 0;
}

.head1whyuse {
    color: #0a0a59;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.pt {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    border: 1px solid rgba(127, 95, 130, 0.37);
    margin: 10px;
    width: 195px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5em;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(127, 95, 130, 0.37);
    transition: all 0.4s ease-in-out;
    background-color: #fdf2ec;
}

.pt:hover {
    background-color: #f9d3bb;
    cursor: pointer;
    transform: scale(1.03);
}

.pt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.2;
}

.pt1 img {
    width: 46px;
    margin-top: 19px;
    margin-bottom: 2px;
}

.pt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.2;
}

.pt2 img {
    width: 45px;
    margin-top: 19px;
}

.pt3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.pt3 img {
    width: 38px;
    margin-top: 18px;
}

.pt4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.2;
}

.pt4 img {
    width: 53px;
    margin-top: 21px;
}

.cards a {
    text-decoration: none;
    color: black;
}

.cards .active {
    background-color: #f9d3bb;
    transform: scale(1.03);
}
